<html>
  <head>
    <title>A Trello Dashboard</title>
		<script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
    <link rel="stylesheet" href="../stylesheets/uptown.css" />
    <link rel="stylesheet" href="../stylesheets/style.css" />

		<script type="text/javascript">
		ShopifyApp.init({
			apiKey: '<%= api_key %>',
			shopOrigin: 'https://<%= shop %>'
		});
		</script>
	</head>
  <body>
                        <!-- SHOPIFY HEADER -->

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script>
      $("#savedMsg").toggle(false);

      var saveMessage = function(text) {
        $("savedMsg").removeClass();
        $("#savedMsgLink").text(text);
        if (text.includes("Error")) {
          $("#savedMsg").addClass("full-width alert error");
        } else {
          $("#savedMsg").addClass("full-width alert success");
        }
        $("#savedMsg").toggle(true);

      }

      ShopifyApp.ready(function() {
        ShopifyApp.Bar.initialize({
          title: '<%= title %>',
          icon: '/images/logo.png',
          buttons: {
            primary: {
              label: "Save",
              callback: function() {

                // Make sure save message is hidden
                $("#savedMsg").toggle(false);

                // Dictionary that gets sent to server
                var rulesData = {
                  "shop"  : "<%= shop %>",
                  "recieved" : "",
                  "fulfilled" : "",
                  "shopify_rules" : [],
                  "trello_rules" : []
                };


                // Recieved orders go to this list
                var recieved = $("#recievedOrders").find(":selected");
                if(recieved.val() === "-") {
                  rulesData["recieved"] = null;
                } else {
                  rulesData["recieved"] = recieved.attr('id');
                };

                // Fulfilled orders go to this list
                var fulfilled = $("#fulfilledOrders").find(":selected");
                if(fulfilled.val() === "-") {
                  rulesData["fulfilled"] = null;
                } else {
                  rulesData["fulfilled"] = fulfilled.attr('id');
                };

                // Shopify Rules
                var shopifyRules = $("#extraShopifyRules").children();
                $.each(shopifyRules, function() {
                  var newRule = {}
                  // newRule.id = (this.id);  //id
                  newRule.country = ($(this).find(".optionSelect").val()); // country/tag
                  newRule.input = ($(this).find("input").val()); //input
                  newRule.list = ($(this).find(".listOption").find(":selected").attr('id'));

                  rulesData["shopify_rules"].push(newRule);
                });

                // Trello Rules
                var trelloRules = $("#extraTrelloRules").children();
                $.each(trelloRules, function() {
                  var newRule = {};
                  // newRule.id = (this.id);
                  newRule.list = $(this).find(".listOption").find(":selected").attr('id');
                  newRule.input = $(this).find("input").val();
                  rulesData["trello_rules"].push(newRule);
                });

                $.ajax({
                  type: "POST",
                  url : "/configuration",
                  dataType : 'json',
                  data: rulesData,
                  statusCode: {
                    200 : function() {
                      saveMessage("Success. Your settings were saved.");
                    },
                    500 : function () {
                      console.log("Error. Your settings were not saved properly");
                      saveMessage("Error. Your settings were not saved properly");
                    }
                  }
                });
              }
            },
            secondary: [
              // Dropdown example
              {
                label: "More",
                type: "dropdown",
                links: [
                  // Link Button that opens in the app
                  { label: "Rate Us", href: "/update", target: "app" },
                  // Button with a callback function
                  { label: "Feature Request", callback: function() { alert("destroy") } }
                ]
              },
              {
                // Link Button that opens in a new window
                label: "Help", href: 'http://<%= shop %>.myshopify.com',
                target: "new"
              },
              {
                // Link Button that opens in a new window
                label: "Contact", href: 'mailto:joshua.bitossi@gmail.com',
                target: "new"
              }
            ]
          }
        });
        ShopifyApp.Bar.loadingOff();

      });
      </script>
                          <!-- END SHOPIFY HEADER -->
      <script src="https://api.trello.com/1/client.js?key=dbdd3808d314c362931b7c8918766c03"></script>    <!-- Trello API -->
      <script type="text/javascript" src="./scripts/trello.js">  </script>


  <main>
    <section id="loggedout" class="full-width alert warning">
      <a id="connectLink" href="#" class="full-width" style="text-align:center;">Click here to authorize Trello</a>
    </section>
    <div id="loggedin" style="margin-right:10px;">
        <span id="header" class="columns twelve" style="text-align:right;">
            <span id="fullName"></span></br>
            <a id="disconnect" href="#">Log Out</a>
        </span>

        <div id="output"></div>
    </div>
    <section id="savedMsg" class="">
      <p id="savedMsgLink" class="full-width" style="text-align:center;"></p>
    </section>
    <div id="rules">
      <!-- Main Rules -->
      <section class="columns twelve">
        <h3>Main Rules</h3>
      </section>
      <div class="columns eleven">
        <span class="columns three" style="text-align:left;">All recieved orders go to list: </span>
        <select id="recievedOrders" class="listOption columns six" style="margin-left:0px;">
          <option>-</option>
        </select>
      </div>
      <div class="columns eleven" style="margin-top: 5px;">
        <span class="columns three" style="text-align:left;">All fulfilled orders go to list: </span>
        <select id="fulfilledOrders" class="listOption columns six" style="margin-left:0px;">
          <option>-</option>
        </select>
      </div>


    <!-- Extra Rules -->
    <section class="columns twelve" style="padding-top:20px;">
      <h3>Shopify Rules</h3>
      <a onclick="addExtraShopifyRule()"><i class="icon-addition" style="height: 16px;margin-top: 6px;padding-left: 10px;"></i></a>
    </section>
      <div class="columns twelve">
        <ul style="list-style: none" id="extraShopifyRules">
        </ul>
      </div>
    <section class="columns twelve" style="padding-top:20px;">
      <h3>Trello Rules</h3>
      <a onclick="addExtraTrelloRule()"><i class="icon-addition" style="height: 16px;margin-top: 6px;padding-left: 10px;"></i></a>
    </section>
    <div class="columns twelve">
        <ul style="list-style: none" id="extraTrelloRules">
          <!-- Extra Rules -->
        </ul>
    </div>

    <br />
  </main>


    <footer>
    </footer>
  </main>
  </body>
</html>
